---
---

@mixin noto-sans-display {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

@mixin regular-font {
  font-weight: 400;
}

@mixin semi-bold-font {
  font-weight: 550;
}

@mixin bold-font {
  font-weight: 700;
}

@mixin italic-font {
  font-style: italic;
}

.red {
  color: rgb(222, 0, 0);
}

.green {
  color: rgb(0, 222, 0);
}

$darker-green: rgb(25, 35, 30);

$dark-green: rgb(35, 50, 45);

$white: rgb(222, 222, 222);

$gray: rgb(111, 111, 111);

html {
  background-color: $darker-green;
  color: $white;
  font-size: clamp(0%, 2vw, 100%);
  @include noto-sans-display;
}

* {
  box-sizing: border-box;
}

.body-container {
  max-width: 45rem;
  margin: 0 auto;
}

.header {
  @include semi-bold-font;
  font-size: 3.2rem;
  text-align: center;
}

.header-nav ul {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  padding-left: 0.8rem;
}

.header-nav li {
  background-color: $dark-green;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  padding: 0.1rem 0.7rem 0.1rem 0.7rem;
  font-size: 0.9rem;
  display: inline-flex;
  justify-content: center;
  margin: 0rem 0.3rem 0rem 0rem;
}

.date {
  font-family: Consolas, monospace;
  font-size: 1rem;
  margin-top: -0.15rem;
  margin-bottom: 1.5rem;
}

.post {
  background-color: $dark-green;
  border-radius: 0.7rem;
  padding: 0.1rem 1rem 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

h1 {
  @include semi-bold-font;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
  font-size: 2.7rem;
  line-height: 120%;
}

h2 {
  @include semi-bold-font;
  margin-top: 0.9rem;
  margin-bottom: 0.35rem;
  font-size: 2.1rem;
}

h3 {
  @include semi-bold-font;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
}

p {
  @include regular-font;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

ul,
ol {
  @include regular-font;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
  padding-left: 2rem;
}

ol > li::marker {
  @include bold-font;
}

li {
  margin: 0.4rem 0;
}

a:link {
  color: rgb(120, 170, 120);
  text-decoration: none;
}

a:visited {
  color: rgb(160, 200, 100);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header-nav a {
  color: inherit;
}

code {
  font-family: Consolas, monospace;
  background-color: rgb(15, 30, 20);
}

strong {
  @include bold-font;
}

em {
  @include italic-font;
}

blockquote {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.2rem dashed $gray;
  border-radius: 0.5rem;
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;
  width: fit-content;
  display: block;
}

img {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border: 0.15rem solid $gray;
  border-radius: 0.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  height: 0.15rem;
  background-image: repeating-linear-gradient(to right, $gray, $gray 0.3rem, transparent 0.3rem, transparent 0.5rem);
  margin-top: 0.8rem;
  margin-bottom: 0.7rem;
}
