<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ page.title }} | SanguineChameleon</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
        <link href="assets/css/styles.css" rel="stylesheet" />
        <script>
            MathJax = {
                tex: {
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                    displayMath: [
                        ["$$", "$$"],
                        ["\\[", "\\]"],
                    ],
                },
                chtml: {
                    scale: 0.9,
                },
            };
        </script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <div class="body-container">
            <div class="header">
                <a href="/leon"><span class="red">sanguine</span><span class="green">cha</span>.<span class="green">me</span>/<span class="green">leon</span></a>
            </div>
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="/leon">About</a>
                    </li>
                    <li>
                        <a href="/all">All Posts</a>
                    </li>
                </ul>
            </nav>
            <div class="post">
                <h1>{{ page.title }}</h1>
                {% unless page.hide_date %}
                <div class="date">{{ page.date | date: "%d-%b-%Y"}}</div>
                {% endunless %} {{ content }}
            </div>
        </div>
    </body>
</html>
